<h1>ngModel</h1>


<div class="container">

  <button (click)="toggleForm()" class="btn btn-success">Add Character</button>

  <div class="card card-body" *ngIf="showForm">
    <form #charecterForm="ngForm" (ngSubmit)="onSubmit(charecterForm)">
      <div class="form-group">
        <label>Persona</label>
        <label>
          <input type="text"
                 [(ngModel)]="character.persona"
                 [ngClass]="{'is-invalid': characterPersona}"
                 name="persona"
                 class="form-control"

          #characterPersona="ngModel"
                 required
                   minlength="2"
    >
        </label>
        <!--        special input #characterPersona = ngModel -->
        <!--ngclass is-invalid .error = if theres an error . touched if user clicked it-->

        <div [hidden]="!characterPersona.errors?.minlength">
          must be at least 2 charecters
        </div>

        <label>First Name</label>
        <input type="text" [(ngModel)]="character.firstName" name="firstName" class="form-control">

        <label>Last Name</label>
        <input type="text" [(ngModel)]="character.lastName" name="lastName" class="form-control">

        <label>Age</label>
        <input type="number" [(ngModel)]="character.age" name="age" class="form-control">

        <label>Address Street</label>
        <input type="text" [(ngModel)]="character.address.street" name="street" class="form-control">

        <label>City</label>
        <input type="text" [(ngModel)]="character.address.city" name="city" class="form-control">

        <label>State</label>
        <input type="text" [(ngModel)]="character.address.state" name="state" class="form-control">
      </div>

      <button (click)="addCharacter()" [disabled]="!characterForm.form.valid"   class="btn btn-dark float-right">Add Character</button>

<!--  updated button
 if NOT character.form.valid ?
 button is disable

 -->



    </form>

  </div>

  <ul class="list-unstyled">
    <li class="card card-body mb-3" *ngFor="let character of characters" [class.bg-info]="character.isActive">

      <div class="row">

        <div class="col-sm-4">
          <img class="img-fluid" [src]="character.img" alt="">
        </div>
        <div class="col-sm-8">
          <h1 [ngStyle]="currentStyle">
            {{ character.persona | uppercase }}
            <button (click)="toggleInfo(character)" class="btn btn-outline-dark btn-sm ml-3">
              <i [ngClass]="character.hide ? 'fa fa-minus' : 'fa fa-plus'"></i>
            </button>
          </h1>
          <h3
            [ngStyle]="currentStyle"> {{ character.firstName }} {{ character.lastName }}
          </h3>
          <ul class="list-group" *ngIf="character.hide">
            <li class="list-group-item">Age: {{ character.age }}</li>
            <li class="list-group-item">Address: {{ character.address.street }}, {{ character.address.city }}, {{ character.address.state }}</li>
            <li *ngIf="character.balance" class="list-group-item">Balance: {{ character.balance | currency }}</li>
            <li *ngIf="character.memberSince" class="list-group-item">Member Since: {{ character.memberSince | date:"MM/dd/yyyy" }}</li>
          </ul>
        </div>
      </div>


    </li>
  </ul>
</div>
