<p>home works!</p>
<h3>this is angular</h3>

<button class="btn btn-secondary" routerLink="/characters">char</button>
<button class="btn btn-dark" routerLink="/movies">movie</button>
<button class="btn btn-danger"routerLink="/posts">posts</button>
