<p>super-hero works!</p>

<ul>
<li *ngFor="let a of superhero">
    <h1>Movie: {{ a.title }} </h1>

  <ul>
    <li>
      <h3>Date: {{ a.yearReleased }}</h3>
      <h3>Actors: {{ a.actors }} </h3>
      <h3>Director: {{ a.director }} </h3>
      <h3>Genre: {{ a.genre }}</h3>
      <h3>Rating {{ a.rating}}</h3>
    </li>
  </ul>
  <ul>
    <li>
      <h2>Awards: {{ a.awards }}</h2>
    </li>
  </ul>
</li>
</ul>
