<p>bonds works!</p>

<ul>
  <li *ngFor="let a of Bonds">
    <h1> {{ a.name }}</h1>
    <ul>
      <li>
        <h3> {{ a.yearEstablished }} </h3>
        <h3> Vocalist: {{ a.vocalist }} </h3>
        <h3> Guitarist: {{ a.guitarist }} </h3>
        <h3> Bass: {{ a.bass }} </h3>
        <h3> Drums: {{ a.drums }} </h3>
      </li>
    </ul>
    <ul>
      <h2> Albums: {{ a.albums }}</h2>
    </ul>
  </li>
</ul>

