<p>vip works!</p>

<ul>
  <li *ngFor="let a of Member">
    <h2> {{ a.name }}</h2>
      <ul>
        <li><p> {{ a.username }}</p></li>
        <li><p> {{ a.memberNo }}</p></li>
      </ul>
      <ul *ngIf=" a.memberNo === 5">
        <li> {{ fiveMembers() }}</li>
      </ul>
  </li>
</ul>
