<h1>Posts</h1>

<!--we weant to pass that currentPost property inyo the form component as an INPUT-->
<!--we have the OUTPUT (newPost)="onNewPost()"-->
<!---->
<app-post-form [currentPost]="currentPost" [isEdit]="isEdit" (updatedPost)="" (newPost)="onNewPost($event)"></app-post-form>
<div class="container">
  <div class="row">
    <mat-card *ngFor="let x of posts" class="example-card col-3">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> {{ x.id }}</mat-card-title>
        <mat-card-subtitle> {{ x.title }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ x.body }}
        </p>
        <hr>
        <button (click)="" class="btn btn-danger"><i class="fa fa-remove"></i></button>

        <button (click)="editpost" class="btn btn-light"><i class="fa fa-pencil"></i></button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

