<h1>String interpolation</h1>
<h3>a way to bind data to the template from our component</h3>
<!--<p>Syntax '{{}}'</p>-->

<h3>{{ 'Hello and good day'}}</h3>
<p> {{ 5 * 6 / 2}}</p>
<!--example of impractical use of string interpolation-->

<!--usually want use of string interpolation to output properties-->
<!--basically allows us to have variables inside our template-->

<h1>TOP ATHLETES</h1>
<!--<h3>Name: {{Athletic.name}}</h3>-->
<!--let's refactor with structural Directives-->



<!--Structural Directives-->
<!--ngfor, ngif, ngswitch-->
<!--every one of these NEEDS to have the asterisk-->
<!--basically an attribute inside our element-->

<!--use *ngfor to loop through our array of this.athlete-->

<!--<ul>-->
<!--  <li *ngFor="let a of Athletic">{{ a.name}}</li>-->
<!--</ul>-->

<!--let defines the variable
    a = the name of our variable
    Athletic = pertains to the this.Athletic from the ts
    a.name = calling the name property of each object
-->

<ul>
  <li *ngFor="let a of Athletes">
    <h3>{{ a.name }}</h3>
    <ul>
      <li>Team: {{ a.team }}</li>
      <li>Jersey No: {{ a.jerseyNo }}</li>
    </ul>
    <ul *ngIf="a.isActive === true">
      <li> {{ showStatus() }}</li>
    </ul>
  </li>
</ul>
