<h3>jane doe</h3>
<h3>chicken</h3>

<!--string interpolation-->
<!-- - way to bind our data to the template (html file) from our component (ts)-->
<!--SYNTAX:-->
<!--{{expression}}-->


<h3>Jane Doe</h3>
<p>Angular App Project Notes</p>


<!-- STRING INTERPOLATION
  - way to bind our data to the template (html file) from our component (ts)
  SYNTAX:
  {{ expression }}
-->

{{ 'Hello World from User Component template' }}
{{ (5*5) + 2 - 1 }}

<h3>{{ 'Charlie Cohort Rocks!'}}</h3>
<p> {{ 5 * 100 }}</p>



<!-- BINDING PROPERTIES WITH OUR TEMPLATE USING STRING INTERPOLATION -->
<h2>Full Name: {{ fname }} {{ lname }}</h2>
<p>Age: {{ age }}</p>

<h3>{{ greeting() }}</h3>
